<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Snakegame|register</title>
</head>
<body>
    <div class="container">
       <div class="seven">
        <h2><img class="icon" src="http://play2.help/img/play_logo.png" alt="logo">Play2Game</h2>
       </div>
        SNAKEGAME REGISTRATION
    <form class="form" action="/register" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
          <input class="form-group" type="email" required autofocus oninvalid="this.setCustomValidity('Please fill out the field')" name="email" id="name">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-group" type="password" required autofocus oninvalid="this.setCustomValidity('Please fill out the field')" name="pass" id="pass">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-group" type="text" maxlength="10" required autofocus oninvalid="this.setCustomValidity('Please fill out the field')" name="name" id="user" >
        </div>
        <button type="submit" class="btn btn-primary">
           Submit
        </button> 
    </form>
    <div>
       Already have an account  
        <a href="/" >Login</a>
     </div>
</div>
</body>
</html>